- var restImages = ['images/rest-img.jpg']
- var restName = ['Апшерон']
- var workingTime = ['00:00']
- var rate = ['4']
- var rateCity = ['Подольск']
- var couisineType = ['Европейская, Итальянская']
-var restPrice = ['1200']
-var restRate = ['4.2']
-var restVote = ['842']
-var roadTime = ['12']
-var roadDist = ['6,2']

	.swiper-slide
		.rest-item
			.rest-item__image
				img.rest-image__img(src=restImages[0], alt="")
				span.rest-item__working 
					| Открыто до&nbsp;
					= workingTime
			.rest-item__title
				h3.rest-info__title= restName
				.rest-info__rest-rate
					.rest-rate__icon
						<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.99999 12.3333C9.66666 12.3333 10.2604 12.1354 10.7812 11.7395C11.3021 11.3437 11.6805 10.8333 11.9167 10.2083H6.08332C6.31943 10.8333 6.69791 11.3437 7.21874 11.7395C7.73957 12.1354 8.33332 12.3333 8.99999 12.3333ZM6.91666 8.99996C7.26388 8.99996 7.55902 8.87843 7.80207 8.63538C8.04513 8.39232 8.16666 8.09718 8.16666 7.74996C8.16666 7.40274 8.04513 7.1076 7.80207 6.86454C7.55902 6.62149 7.26388 6.49996 6.91666 6.49996C6.56943 6.49996 6.2743 6.62149 6.03124 6.86454C5.78818 7.1076 5.66666 7.40274 5.66666 7.74996C5.66666 8.09718 5.78818 8.39232 6.03124 8.63538C6.2743 8.87843 6.56943 8.99996 6.91666 8.99996ZM11.0833 8.99996C11.4305 8.99996 11.7257 8.87843 11.9687 8.63538C12.2118 8.39232 12.3333 8.09718 12.3333 7.74996C12.3333 7.40274 12.2118 7.1076 11.9687 6.86454C11.7257 6.62149 11.4305 6.49996 11.0833 6.49996C10.7361 6.49996 10.441 6.62149 10.1979 6.86454C9.95485 7.1076 9.83332 7.40274 9.83332 7.74996C9.83332 8.09718 9.95485 8.39232 10.1979 8.63538C10.441 8.87843 10.7361 8.99996 11.0833 8.99996ZM5.35416 4.33329L7.68749 1.31246C7.85416 1.09024 8.05207 0.927043 8.28124 0.822876C8.51041 0.718709 8.74999 0.666626 8.99999 0.666626C9.24999 0.666626 9.48957 0.718709 9.71874 0.822876C9.94791 0.927043 10.1458 1.09024 10.3125 1.31246L12.6458 4.33329L16.1875 5.52079C16.5486 5.6319 16.8333 5.83676 17.0417 6.13538C17.25 6.43399 17.3542 6.76385 17.3542 7.12496C17.3542 7.29163 17.3299 7.45829 17.2812 7.62496C17.2326 7.79163 17.1528 7.95135 17.0417 8.10413L14.75 11.3541L14.8333 14.7708C14.8472 15.2569 14.6875 15.6666 14.3542 16C14.0208 16.3333 13.6319 16.5 13.1875 16.5C13.1597 16.5 13.0069 16.4791 12.7292 16.4375L8.99999 15.3958L5.27082 16.4375C5.20138 16.4652 5.12499 16.4826 5.04166 16.4895C4.95832 16.4965 4.88193 16.5 4.81249 16.5C4.36805 16.5 3.97916 16.3333 3.64582 16C3.31249 15.6666 3.15277 15.2569 3.16666 14.7708L3.24999 11.3333L0.979156 8.10413C0.868045 7.95135 0.788184 7.79163 0.739573 7.62496C0.690962 7.45829 0.666656 7.29163 0.666656 7.12496C0.666656 6.77774 0.767351 6.45482 0.96874 6.15621C1.17013 5.8576 1.45138 5.64579 1.81249 5.52079L5.35416 4.33329Z" fill="#A72536"/>
						</svg>
					.rest-rate__rate= restRate
					.rest-rate__vote (#{restVote})
			.rest-info
				.rest-info__block1
					.rest-info__rate-city
						span #
							= rate 
							|&nbsp;ресторан в г.&nbsp;
							= rateCity
					.rest-info__cuisine-type
						span.cuisine-type__icon
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.97919 9.20835L2.22919 14.9167C2.07641 15.0695 1.88544 15.1493 1.65627 15.1563C1.42711 15.1632 1.22919 15.0834 1.06252 14.9167C0.909745 14.7639 0.833356 14.5695 0.833356 14.3334C0.833356 14.0972 0.909745 13.9028 1.06252 13.75L9.02086 5.79168C8.77086 5.20835 8.73613 4.54863 8.91669 3.81252C9.09725 3.07641 9.49308 2.41668 10.1042 1.83335C10.8403 1.09724 11.6597 0.666685 12.5625 0.541685C13.4653 0.416685 14.2014 0.638907 14.7709 1.20835C15.3403 1.7778 15.5625 2.51391 15.4375 3.41668C15.3125 4.31946 14.882 5.13891 14.1459 5.87502C13.5625 6.48613 12.9028 6.88196 12.1667 7.06252C11.4306 7.24307 10.7709 7.20835 10.1875 6.95835L9.14586 8.00002L14.8959 13.75C15.0486 13.9028 15.1285 14.0938 15.1354 14.3229C15.1424 14.5521 15.0625 14.75 14.8959 14.9167C14.7431 15.0695 14.5486 15.1459 14.3125 15.1459C14.0764 15.1459 13.882 15.0695 13.7292 14.9167L7.97919 9.20835ZM4.10419 8.37502L1.60419 5.87502C1.02086 5.29168 0.652801 4.55557 0.500023 3.66668C0.347245 2.7778 0.520856 1.98613 1.02086 1.29168C1.17363 1.08335 1.3785 0.965296 1.63544 0.937518C1.89238 0.90974 2.11113 0.993073 2.29169 1.18752L6.77086 5.70835L4.10419 8.37502Z" fill="#584B4D"/>
							</svg>
						= couisineType
					.rest-info__rest-price
						.rest-price__icon-wrap
							.rest-price__icon.active 
							.rest-price__icon.active
							.rest-price__icon
							.rest-price__icon
						.rest-info__v-divider
						.rest-price__bill
							span.rest-price__bill-icon
								<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.99998 15.9166C2.41773 15.9166 1.92495 15.715 1.52163 15.3117C1.11832 14.9083 0.916672 14.4156 0.916672 13.8333V12.5032C0.916672 12.2885 0.988526 12.1093 1.13223 11.9656C1.27593 11.8219 1.45514 11.75 1.66988 11.75H3.41667V0.655454C3.41667 0.568926 3.45167 0.510968 3.52165 0.481579C3.59162 0.452204 3.65866 0.464225 3.72278 0.517642L4.33494 1.02564C4.4076 1.08761 4.48612 1.1186 4.57053 1.1186C4.65493 1.1186 4.73345 1.08761 4.80609 1.02564L5.50482 0.455142C5.57747 0.393169 5.65599 0.362183 5.74038 0.362183C5.82478 0.362183 5.90331 0.393169 5.97596 0.455142L6.67467 1.02564C6.74732 1.08761 6.82585 1.1186 6.91026 1.1186C6.99466 1.1186 7.07318 1.08761 7.14582 1.02564L7.84455 0.455142C7.9172 0.393169 7.99572 0.362183 8.08011 0.362183C8.16451 0.362183 8.24304 0.393169 8.31569 0.455142L9.01442 1.02564C9.08706 1.08761 9.16558 1.1186 9.24998 1.1186C9.33439 1.1186 9.41291 1.08761 9.48555 1.02564L10.1843 0.455142C10.2569 0.393169 10.3355 0.362183 10.4199 0.362183C10.5042 0.362183 10.5828 0.393169 10.6554 0.455142L11.3542 1.02564C11.4268 1.08761 11.5053 1.1186 11.5897 1.1186C11.6741 1.1186 11.7526 1.08761 11.8253 1.02564L12.524 0.455142C12.5967 0.393169 12.6752 0.362183 12.7596 0.362183C12.844 0.362183 12.9225 0.393169 12.9952 0.455142L13.6939 1.02564C13.7665 1.08761 13.845 1.1186 13.9294 1.1186C14.0138 1.1186 14.0924 1.08761 14.165 1.02564L14.7772 0.517642C14.8413 0.464225 14.9083 0.452204 14.9783 0.481579C15.0483 0.510968 15.0833 0.568926 15.0833 0.655454V13.8333C15.0833 14.4156 14.8816 14.9083 14.4783 15.3117C14.075 15.715 13.5822 15.9166 13 15.9166H2.99998ZM13 14.6666C13.2361 14.6666 13.434 14.5868 13.5937 14.4271C13.7535 14.2673 13.8333 14.0694 13.8333 13.8333V2.16664H4.66665V11.75H11.4134C11.6282 11.75 11.8074 11.8219 11.9511 11.9656C12.0948 12.1093 12.1667 12.2885 12.1667 12.5032V13.8333C12.1667 14.0694 12.2465 14.2673 12.4062 14.4271C12.566 14.5868 12.7639 14.6666 13 14.6666ZM6.28523 4.04166H9.76282C9.94017 4.04166 10.0887 4.10149 10.2083 4.22114C10.328 4.3408 10.3878 4.48929 10.3878 4.66664C10.3878 4.84399 10.328 4.99249 10.2083 5.11214C10.0887 5.23179 9.94017 5.29162 9.76282 5.29162H6.28523C6.10789 5.29162 5.95939 5.23179 5.83973 5.11214C5.72008 4.99249 5.66026 4.84399 5.66026 4.66664C5.66026 4.48929 5.72008 4.3408 5.83973 4.22114C5.95939 4.10149 6.10789 4.04166 6.28523 4.04166ZM6.28523 6.54166H9.76282C9.94017 6.54166 10.0887 6.60149 10.2083 6.72114C10.328 6.8408 10.3878 6.9893 10.3878 7.16664C10.3878 7.34399 10.328 7.49249 10.2083 7.61214C10.0887 7.73179 9.94017 7.79162 9.76282 7.79162H6.28523C6.10789 7.79162 5.95939 7.73179 5.83973 7.61214C5.72008 7.49249 5.66026 7.34399 5.66026 7.16664C5.66026 6.9893 5.72008 6.8408 5.83973 6.72114C5.95939 6.60149 6.10789 6.54166 6.28523 6.54166ZM12.1186 5.40381C11.9145 5.40381 11.7406 5.33196 11.5969 5.18827C11.4532 5.04457 11.3814 4.8707 11.3814 4.66664C11.3814 4.46259 11.4532 4.28871 11.5969 4.14502C11.7406 4.00132 11.9145 3.92948 12.1186 3.92948C12.3226 3.92948 12.4965 4.00132 12.6402 4.14502C12.7839 4.28871 12.8557 4.46259 12.8557 4.66664C12.8557 4.8707 12.7839 5.04457 12.6402 5.18827C12.4965 5.33196 12.3226 5.40381 12.1186 5.40381ZM12.1186 7.90381C11.9145 7.90381 11.7406 7.83196 11.5969 7.68827C11.4532 7.54457 11.3814 7.3707 11.3814 7.16664C11.3814 6.96259 11.4532 6.78871 11.5969 6.64502C11.7406 6.50132 11.9145 6.42948 12.1186 6.42948C12.3226 6.42948 12.4965 6.50132 12.6402 6.64502C12.7839 6.78871 12.8557 6.96259 12.8557 7.16664C12.8557 7.3707 12.7839 7.54457 12.6402 7.68827C12.4965 7.83196 12.3226 7.90381 12.1186 7.90381ZM2.99998 14.6666H10.9167V13H2.16665V13.8333C2.16665 14.0694 2.24651 14.2673 2.40623 14.4271C2.56596 14.5868 2.76387 14.6666 2.99998 14.6666Z" fill="#584B4D"/>
								</svg>
							| Средний чек&nbsp;
							= restPrice
							|&nbsp;₽
				.rest-info__block2
					.rest-info__road-time
						.road-time__icon
							<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3 11.8333V12.25C3 12.5972 2.87847 12.8923 2.63542 13.1354C2.39236 13.3784 2.09722 13.5 1.75 13.5C1.40278 13.5 1.10764 13.3784 0.864583 13.1354C0.621528 12.8923 0.5 12.5972 0.5 12.25V6.29163C0.5 6.1944 0.506944 6.09718 0.520833 5.99996C0.534722 5.90274 0.555556 5.81246 0.583333 5.72913L2.14583 1.29163C2.25694 0.958293 2.45833 0.687459 2.75 0.479126C3.04167 0.270793 3.36806 0.166626 3.72917 0.166626H12.2708C12.6319 0.166626 12.9583 0.270793 13.25 0.479126C13.5417 0.687459 13.7431 0.958293 13.8542 1.29163L15.4167 5.72913C15.4444 5.81246 15.4653 5.90274 15.4792 5.99996C15.4931 6.09718 15.5 6.1944 15.5 6.29163V12.25C15.5 12.5972 15.3785 12.8923 15.1354 13.1354C14.8924 13.3784 14.5972 13.5 14.25 13.5C13.9028 13.5 13.6076 13.3784 13.3646 13.1354C13.1215 12.8923 13 12.5972 13 12.25V11.8333H3ZM2.83333 4.33329H13.1667L12.2917 1.83329H3.70833L2.83333 4.33329ZM4.25 9.33329C4.59722 9.33329 4.89236 9.21177 5.13542 8.96871C5.37847 8.72565 5.5 8.43052 5.5 8.08329C5.5 7.73607 5.37847 7.44093 5.13542 7.19788C4.89236 6.95482 4.59722 6.83329 4.25 6.83329C3.90278 6.83329 3.60764 6.95482 3.36458 7.19788C3.12153 7.44093 3 7.73607 3 8.08329C3 8.43052 3.12153 8.72565 3.36458 8.96871C3.60764 9.21177 3.90278 9.33329 4.25 9.33329ZM11.75 9.33329C12.0972 9.33329 12.3924 9.21177 12.6354 8.96871C12.8785 8.72565 13 8.43052 13 8.08329C13 7.73607 12.8785 7.44093 12.6354 7.19788C12.3924 6.95482 12.0972 6.83329 11.75 6.83329C11.4028 6.83329 11.1076 6.95482 10.8646 7.19788C10.6215 7.44093 10.5 7.73607 10.5 8.08329C10.5 8.43052 10.6215 8.72565 10.8646 8.96871C11.1076 9.21177 11.4028 9.33329 11.75 9.33329Z" fill="#584B4D"/>
							</svg>
						= roadTime
						| &nbsp;Мин
					.rest-info__road-dist
						= roadDist
						| &nbsp;Км