// Swiper slider custom styles

.rest-slider {
	position: relative;
}

.swiper-container {
	overflow: hidden;
}

.swiper-slide {
	max-width: 285px;
}

.swiper-button-next,
.swiper-button-prev {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	position: absolute;
	z-index: 999;
	top: 80px;
	cursor: pointer;
	&::after {
		display: none;
	}
}

.swiper-button-next {
	background: $color-white url("../images/arrow-n.svg");
	background-repeat: no-repeat;
	background-size: 12px 21px;
	background-position: center;
	right: -25px;
}

.swiper-button-prev {
	background: $color-white url("../images/arrow-p.svg");
	background-repeat: no-repeat;
	background-size: 12px 21px;
	background-position: center;
	left: -25px;
}

.swiper-button-disabled {
	opacity: 0;
}
