// Colors
$color-dark: #754040;
$color-mid: #584B4D;
$color-light: #847173;
$color-white: #F6F6F6;
$color-gray: #424242;
$slate-gray: #010101;
$color-black: #000000;
$color-brown: #626262;
$color-wine-chocolate: #584b4d;
$color-ruby-red: #a72536;
$color-misty-rose: #ab9c9e;
$color-silver-gray: #cfcfcf;


// Fonts 
$font-family: "Roboto", sans-serif;
$second-family: "Akrobat", sans-serif;
$third-family: "Inter", sans-serif;